@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-slate-900 font-sans;
  }

  ::selection {
    @apply bg-pop-100 text-pop-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
